<ion-view title="Citas">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar" ng-model="searchBox">
      </label>
    </div>


    <div class="list" ng-controller="InsideCtrl">

      <a class="item item-thumbnail-left" ng-repeat="persona in personas | filter:searchBox"
         href="#/menu/detalles/{{persona.id}}">
        <img src="{{persona.face}}">
        <h2>Nombre: {{persona.name}}</h2>
        <p>Identificacion: {{persona.identificacion}}</p>
        <p>Sexo: {{persona.sexo}}</p>
        <p>Número de citas:</p>
      </a>

    </div>


  </ion-content>
</ion-view>
