<ion-view title="Citas">
  <ion-content class="padding">

    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Identificacion" ng-model="user.identifier">
        </label>
        <button class="button button-small" ng-click="identificacion(user)">
          Buscar
        </button>
      </div>

    </div>

  <div class="list card">
  <div class="item item-body" ng-hide="infoCitaCard">
  
    <p>
      Digite el número de su identificación para que pueda verificar la información de su cita o para que
      pueda agendar una.
    </p>
    
  </div>

    <div class="list card" ng-hide="personaCard">

        <div class="item item-avatar">
          <img src="http://desarrollo.sarcontrolacceso.com/{{usuario.foto}}">
          <h2>{{usuario.nombre_completo}}</h2>
          <p>Identificacion: {{usuario.identificacion}}</p>
          <p>Sexo: {{usuario.sexo}}</p>
        </div>

       
       <div class="item item-body">

              <label class="item item-input item-select" ng-hide="tipoCitaLabel" >
              <div class = "input-label">
      Tipo cita:
   </div>    
              
              <select name="tipoCita" id="tipoCita" ng-model="citas.id_tipo_cita" ng-change="buscarDependencia(citas.id_tipo_cita)"{{citas.descripcion}}>
                <option ng-repeat="cita in citas" value="{{cita.id_tipo_cita}}">{{cita.descripcion}}</option>
              </select>
            </label>

            <label class="item item-input item-select" ng-hide="dependenciaLabel" >
            <div class = "input-label">
      Dependencia:
   </div>           

              <select name="tipoCita" id="tipoCita" ng-model="dependencias.nombre" ng-change="buscarFuncionarios()">
                <option ng-repeat="dependencia in dependencias" value="{{dependencia.nombre}}">{{dependencia.nombre}}</option>
              </select>
            </label>
            
            <br>
                <p>
                  <a href="#tipoCita" class="subdued"> 0 Agendas</a>
                  <a href="#tipoCita" class="subdued"> {{numeroCitas}} Citas</a>
                </p>
        </div>


        <button class="button button-block button-stable" ng-click="mostrarFuncionarios()" ng-hide="FuncionariosBtn">Mostrar Funcionarios</button>



          <div class="list" ng-hide="AgendaList">

          <a class="item item-thumbnail-left" href="" >
      <img ng-src="http://desarrollo.sarcontrolacceso.com/{{fotoFuncionario.foto}}">
          <h2>{{ fotoFuncionario.nombre_completo }}</h2>
          <h4>Agenda:</h4>
          
        </a>


          <a class="item item-icon-left" href="#/menu/detalles/{{key}}" ng-repeat="(key, value) in agendas">
    <i class="icon ion-calendar"></i>
    {{ value }}
    <span class="item-note">
      Horas
    </span>
  </a>

</div>

        <div class="list" ng-hide="FuncionariosList">

    <a class="item item-thumbnail-left" href="" ng-repeat="funcionario in funcionarios" ng-click="buscarAgendas(funcionario.id_empresa_persona)">
      <img ng-src="http://desarrollo.sarcontrolacceso.com/{{funcionario.foto_thumb}}">
          <h2>{{ funcionario.nombre_completo }}</h2>
          
        </a>

</div>


    <div class="item item-body">
        <p>
          #: {{citasLista.id_asignacion_cita
          }}
        </p>
        <p>Fecha: {{citasLista.fecha}} </p>
        <p>Hora: {{citasLista.hora}}</p>
        <p>Reserva: {{citasLista.clave_reserva}}</p>
        <p>Tipo de cita: {{citasLista.tipo_cita}}</p>
        <p>Departamento: {{citasLista.nombre}}</p>
        <p>Piso: {{citasLista.piso}}</p>
        <p>Numero: {{citasLista.numero}}</p>
        <p>Funcionario: {{citasLista.nombre_completo}}</p>
        
          <a href="#" class="subdued">Cancelar cita</a>
          
        </p>
    </div>
    </div>

  </ion-content>
</ion-view>
