<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{persona.name}}">
  <ion-nav-back-button>
  </ion-nav-back-button>
  <ion-content class="padding">

  <div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{persona.face}}">
    <label class="item item-input item-select">Tipo de citas:
        <input type="text" placeholder=" Seleccione una opcion" > 
        <select name="verificarPassword" id="verificarPassword" >
          <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
        </select><br>
        
      </label>
      <label class="item item-input item-select" >Dependiencia:
        <input type="text" placeholder=" Seleccione una opcion" > 
        <select name="verificarPassword" id="verificarPassword" >
          <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
        </select>
      </label>
  </div>






  <div class="item item-body">
    <p>
      #: Sin citas
    </p>
    <p>Fecha: </p>
    <p>Hora: </p>
    <p>Reserva: </p>
    <p>Tipo de cita:</p>
    <p>Departamento: </p>
    <p>Piso: </p>
    <p>Numero: </p>
    <p>Funcionario:</p>
    
      <a href="#" class="subdued">Cancelar cita</a>
      
    </p>
  </div>

</div>
   
    <ion-list>
      <ion-item class="positive" ui-sref="menu.citas">Atrás</ion-item>
    </ion-list>
  </ion-content>
</ion-view>


