<ion-view view-title="Control de acceso">
  <ion-content class="padding">
  <CENTER><img ng-src="{{image}}"/></CENTER>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Escriba su usuario" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Contraseña" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="login(data)">Continuar</button>
  </ion-content>
</ion-view>