<ion-view view-title="ANSWERCPI">
  <ion-content class="padding">
    <h2>QUIENES SOMOS</h2>
    <p>
    Como consecuencia de la globalización, en el mundo y en particular la posición de nuestro país en materia de servicios, tecnología y en donde vienen transformándose las empresas a un escenario donde han tenido necesariamente que adecuarse a un mundo competitivo y cambiante, realizando acciones que permitan competir en calidad y a bajos costos en su operación, el concepto de Outsourcing o Externalización de Servicios Especializados hacen parte del hecho de apoyar de una manera más eficiente en la constante generación de cambios a los que se está enfrentando el sector empresarial y el sector Gobierno.
    </p>
    <p>
      Por tanto hoy se debe ser capaz de apoyar en forma constante la generación de esos cambios donde se garantice la proyección de las empresas y obtener el éxito esperado acorde con las políticas planteadas por ellas.

    El gran compromiso es, contar con recursos humanos en constante preparación, todas y cada una de las áreas tecnológicas de la informática, profesionales idóneos dispuestos a brindar una respuesta a los requerimientos más específicos y exigentes de manera eficiente.
    </p>
    <p>
    Bajo este concepto nace @nswerCPI.com – Consultoría en Proyectos Informáticos, con el único objetivo, que es el de apoyar el área empresarial del Eje Cafetero, del país en general y del entorno mundial en temas de avanzada tecnología teniendo en cuenta el término Outsourcing Especializado.

    En su equipo de profesionales se recoge la experiencia de años de trabajo en Ingeniería de Sistemas, Consultoría, soporte y desarrollo de soluciones relacionados con la ingeniería de Software y construcción de bases de datos, deseamos proveer los mejores profesionales del mercado en el área de la informática, como también servir de guía en la adquisición de nuevos servicios y nuevas tecnologías o contraparte técnica ante los proveedores.
    </p>
    <p>
      Somos una empresa especializada que pretende transformar las necesidades de nuestros clientes en soluciones informáticas de alta calidad, apoyándonos en el mejoramiento de los procesos empresariales, la productividad y la eficiencia.
    </p>
  </ion-content>
</ion-view>
